<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="DBLocalConnectionString" connectionString="Data Source=NAHÚMFABIÁN-HP\SQLDEVELOPER;Initial Catalog=ETICADB.MDF;Integrated Security=True"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
    <httpRuntime requestValidationMode="2.0"  ></httpRuntime>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>

      <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />

      </controls>
    </pages>
  
  </system.web>

  
     
    

  <system.webServer>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add
        name="DirectRequestModule"
        preCondition="managedHandler"
        type="Ext.Net.DirectRequestModule, Ext.Net"
				/>
    </modules>
    <handlers>
      <add
        name="DirectRequestHandler"
        verb="*"
        path="*/ext.axd"
        preCondition="integratedMode"
        type="Ext.Net.ResourceHandler"
				/>
    </handlers>
  </system.webServer>
</configuration>
